/* 전역 스타일 리셋 */
* {
  box-sizing: border-box;
}

.map_wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


/* 메인 컨텐츠 */
.map_content {
  display: flex;
  flex: 1;
  min-height: 0;
  position: relative;
  overflow: hidden;
}





